/*! Admin */
.bg-navbarg {
    background-color: #60D05E;
}

.rounded-nav {
    border: 2px;
    border-radius: 25px;
}

.topbar .dropdown-list .dropdown-header {
    background-color: #60D05E;
    border: #60D05E;
}

.bg-dashboard {
    background-image: url("/assets/img/dashboard-header.png");
    padding: 50px;
    border-radius: 25px;
    margin-bottom: 50px;
}

.dropdown-item.active, .dropdown-item:active {
    color: gray;
    text-decoration: none;
    background-color: #fff;
  }

.bg-dashboard h2 {
    margin: 15px;
    color: #fff;
    font-weight: bold;
}

.sidebar.toggled {
    overflow: hidden;
    width: 0rem !important;
}

.text-grocetaria {
    color: #60D05E;
}

.btn-gro {
    background-color: #60D05E;
    color:#fff;
}

/*! Utama */
.breadcrumb{
    background-image: url("/assets/img/breadcrumb.png");
    height: 500px;
    background-size: cover;
}
.breadcrumb .row{
    padding: 150px 0px 150px 200px;
}

@media only screen and (max-width: 500px) {
    .breadcrumb .row{
        padding: 150px 0px 150px 100px;
    }
}

